
.mat-form-field-placeholder-wrapper {
	top: -.84375em;
	padding-top: .84375em
}
.mat-form-field-placeholder {
	top: 1.28125em
}

.mat-option {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	line-height: 48px;
	height: 48px;
	padding: 0 16px;
	text-align: left;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	outline: 0
}

.cdk-visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
	pointer-events: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%
}
.cdk-overlay-container {
	position: fixed;
	z-index: 1000
}
.cdk-global-overlay-wrapper {
	display: flex;
	position: absolute;
	z-index: 1000
}
.cdk-overlay-pane {
	position: absolute;
	pointer-events: auto;
	box-sizing: border-box;
	z-index: 1000
}
.cdk-overlay-backdrop {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	pointer-events: auto;
	-webkit-tap-highlight-color: transparent;
	transition: opacity .4s cubic-bezier(.25, .8, .25, 1);
	opacity: 0
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
	opacity: .48
}
.cdk-overlay-dark-backdrop {
	background: rgba(0,0,0,.6)
}
.cdk-overlay-transparent-backdrop {
	background: 0 0
}
.cdk-global-scrollblock {
	position: fixed;
	width: 100%;
	overflow-y: scroll
}

.mat-option:focus:not(.mat-option-disabled), .mat-option:hover:not(.mat-option-disabled) {
	background: rgba(0,0,0,.04)
}

.mat-option.mat-selected:not(.mat-option-multiple):not(.mat-option-disabled) {
	background: rgba(0,0,0,.04)
}
.mat-option.mat-active {
	background: rgba(0,0,0,.04);
	color: rgba(0,0,0,.87)
}

.mat-autocomplete-panel {
	background: #fff;
	color: rgba(0,0,0,.87)
}


